<header>
    <ul>
        <li>
            <a routerLink="/list-user" class="submenu-parent" routerLinkActive="active">User
                <ul class="submenu">
                    <li><a href="">user1</a></li>
                    <li><a href="" class="submenu-2-parent">user2

                            <ul class="submenu2">
                                <li><a href="">userA</a></li>
                                <li><a href="">userB</a></li>
                                <li>
                                    <a href="" class="submenu-3-parent">userC
                                        <ul class="submenu3">
                                            <li><a href="">userX</a></li>
                                            <li><a href="">userY</a></li>
                                            <li><a href="">userZ</a></li>
                                            <li><a href="">userQ</a></li>
                                        </ul>
                                    </a>
                                </li>
                              
                                <li>
                                    <a href="">userD</a>
                                </li>
                            </ul>
                        </a></li>
                    <li><a href="">user3</a></li>
                    <li><a href="">user4</a></li>
                </ul>
            </a>
        </li>
        <li>
            <a routerLink="/list-role" routerLinkActive="active">Role</a>
        </li>
        <li>
            <a routerLink="/list-permission-group" routerLinkActive="active">permission Group</a>
        </li>
        <li>
            <a routerLink="/list-permission-group-item" routerLinkActive="active">Permission Group Item</a>
        </li>
        <!-- <li>
            <a routerLink="/list-role-permission" routerLinkActive="active"> Role Permission</a>
        </li> -->


        <li>
            <a style="cursor:pointer" (click)="onLogOut()"> Logout</a>
        </li>
        <h3>Hello - {{loggedInEmail}}</h3>
    </ul>


</header>


<router-outlet></router-outlet>