<header>
    <ul>
        <li class="submenu-parent">
            <a routerLink="/list-user" class="sub" routerLinkActive="active">User
                <mat-icon>keyboard_arrow_down</mat-icon>
                <ul class="submenu">
                    <li><a href="">user1</a></li>

                    <li class="submenu-2-parent"><a href="" class="sub">user2 <mat-icon>keyboard_arrow_right</mat-icon>

                            <ul class="submenu2">
                                <li><a href="">userA</a></li>
                                <li><a href="">userB</a></li>
                                <li class="submenu-3-parent">
                                    <a href="" class="sub">userC <mat-icon>keyboard_arrow_right</mat-icon>
                                        <ul class="submenu3">
                                            <li><a href="">userX</a></li>
                                            <li><a href="">userY</a></li>
                                            <li><a href="">userZ</a></li>
                                            <li><a href="">userQ</a></li>
                                        </ul>
                                    </a>
                                </li>

                                <li>
                                    <a href="">userD</a>
                                </li>
                            </ul>
                        </a></li>
                    <li><a href="">user3</a></li>
                    <li><a href="">user4</a></li>
                </ul>
            </a>
        </li>
        <li>
            <a routerLink="/list-role" routerLinkActive="active">Role</a>
        </li>
        <li>
            <a routerLink="/list-permission-group" routerLinkActive="active">permission Group</a>
        </li>
        <li>
            <a routerLink="/list-permission-group-item" routerLinkActive="active">Permission Group Item</a>
        </li>

        <li>
            <a style="cursor:pointer" (click)="onLogOut()"> Logout</a>
        </li>
        <h3>Hello - {{loggedInEmail}}</h3>
    </ul>
</header>


<router-outlet></router-outlet>