header {
    background-color: #0F0E24;
    height: 60px;
    background-color: #0F0E24;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        list-style: none;
        margin: 0px;
        padding: 20px 0px 0px;

        li {
            a {
                color: #FFFF;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 16px;
                border-radius: 3px;
                // transition: all 0.3s linear;

                &:hover {
                    color: #FE013E;
                }
            }
        }

        h3 {
            color: #FFFF;
            font-size: 16px;
            margin-bottom: 0px;
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 18px;
        }
    }
}

.active {
    background-color: #FFFF;
    color: #FE013E !important;
}



// submenu
.submenu-parent,
.submenu-2-parent,
.submenu-3-parent {
    position: relative;

    a {
        display: flex !important;
        align-items: center;
        justify-content: center;

    }

    .sub {
        padding-left: 10px !important;
    }
}

.submenu,
.submenu2,
.submenu3 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    visibility: hidden;
    background-color: #6d6a6a;
    border: 1px solid #6d6a6a;
    box-sizing: border-box;
    padding: 0px 0px !important;
    gap: 0px !important;
    width: 100%;
    min-width: 100px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 3px;

    li {
        padding: 5px 0px !important;
        margin-bottom: 0px !important;
        width: 100%;
    }

    a {
        font-size: 16px;
        padding: 5px 0px !important;
        border-radius: 0px !important;
        width: 100%;
        display: block;

        &:hover {
            background-color: #FFF;
            color: #0F0E24 !important;
        }
    }

}

.submenu-parent:hover .submenu {
    visibility: visible;
}

// submenu2

.submenu2 {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 100;
    visibility: hidden;
}

.submenu-2-parent:hover .submenu2 {
    visibility: visible;
}

// submenu3

.submenu3 {
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 100;
    visibility: hidden;
}

.submenu-3-parent:hover .submenu3 {
    visibility: visible;
}


// ::ng-deep .mat-icon {
//     height: 16px!important;
//     width: 16px!important;
// }

// ::ng-deep .material-icons {
//     font-size: 16px!important;
// }