header {
    background-color: #0F0E24;
    height: 60px;
    background-color: #0F0E24;
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        list-style: none;
        margin: 0px;
        padding: 20px 0px 0px;

        li {
            a {
                color: #FFFF;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 16px;
                border-radius: 3px;
                transition: all 0.3s linear;

                &:hover {
                    color: #FE013E;
                }
            }
        }
        h3{
            color: #FFFF;
            font-size: 16px;
            margin-bottom: 0px;
            position: absolute;
            top: 10px;
            right: 10px;
            line-height: 18px;
        }
    }
}

.active {
    background-color: #FFFF;
    color: #FE013E !important;
}