<div class="container">
  <div class="login">
    <h1>Add Permission Group Item</h1>

    <form class="login-form" [formGroup]="roleForm" (ngSubmit)="AddPermissionGroupItem()" autocomplete="off"
      #templateForm="ngForm">
      <mat-form-field class="mat-data-input-field" appearance="outline">
        <!-- <mat-label>Username</mat-label> -->
        <input type="text" formControlName="name" matInput placeholder="Enter permission-group name...">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>

      <mat-form-field class="mat-data-input-field" appearance="outline">
        <!-- <mat-label>Username</mat-label> -->
        <input type="text" formControlName="permission" matInput placeholder="Enter Permission Name...">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error>This field is required</mat-error>
      </mat-form-field>


      <mat-form-field class="mat-data-input-field" appearance="outline">
        <!-- <mat-label>Username</mat-label> -->
        <input type="number" formControlName="weight" matInput placeholder="Enter weight...">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select permissionGroup</mat-label>
        <mat-select formControlName="permissionGroupId" name="permissionGroupId">
          <mat-option *ngFor="let item of allPermissionGroup" [value]="item.id">
            {{item.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>





      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedValue2" formControlName="status" name="food">
          <mat-option *ngFor="let food of allStatus" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="submit-area">
        <button class="btn-login" mat-raised-button color="primary" type="submit">Login</button>
      </div>

    </form>
  </div>
</div>