<div class="section-1">

  <button mat-raised-button color="primary" (click)="openEditControllerDialog()">Add New Permission Group Item</button>
  <h1>Data of All Permission Group Item</h1>
  <div class="container">
    <div class="search">
      <button mat-raised-button color="primary" (click)="onClearFilter()">Clear Filter</button>
      <mat-form-field>
        <mat-label>Search by name</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Api link" #input>
      </mat-form-field>

      <mat-form-field required>
        <mat-label>Group</mat-label>
        <mat-select>
          <mat-option *ngFor="let data of allPermissionGroup" [value]="data.group_id" (click)="onSelectGroup(data)">
            {{ data.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <table>
        <tr>
          <th>Name</th>
          <th>Permission</th>
          <th>Permission Group Name </th>
          <th>Status</th>
          <th>weight</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let data of allPermissionGroupItem | paginate: { itemsPerPage: 7, currentPage: p }">
          <td>{{data?.name}}</td>
          <td>{{data?.permission}}</td>
          <td>{{data?.permission_group_name}}</td>
          <td>{{data?.status}}</td>
          <td>{{data?.weight}}</td>
      
          <td class="td-action">
      <button (click)="openEditControllerDialog(data)">Edit</button>
      <button (click)="deletePermissionGroupItem(data.id)">Delete</button>
          </td>
        </tr>
      </table> -->



    <table #table mat-table matTableExporter [dataSource]="dataSource | paginate: { itemsPerPage: itemsPerPage, currentPage: page , totalItems:totalItems}"
      matSort cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)" class="example-list">


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{ element?.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element?.name }}</td>
      </ng-container>

      <ng-container matColumnDef="permission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Permission</th>
        <td mat-cell *matCellDef="let element">{{ element?.permission }}</td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Permission Group Name </th>
        <td mat-cell *matCellDef="let element">{{element?.permission_group_name }}</td>
      </ng-container>

      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
        <td mat-cell *matCellDef="let element">{{ element?.weight }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell class="edit-delete" *matCellDef="let row">
          <button class="edit-button" (click)="openEditControllerDialog(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button class="delete-button" color="warn" (click)="deletePermissionGroupItem(row)">
            <mat-icon>delete_outline</mat-icon>
          </button>

        </td>
      </ng-container>
      <tr class="header-row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="row" mat-row class="example-box" *matRowDef="let row; columns: displayedColumns" cdkDrag
        [cdkDragData]="row"></tr>
    </table>

    <!-- //peginatio -->
    <div class="data-pagination">
      <pagination-controls (pageChange)="getAllPermissionGroupItemExtra((page = $event))"></pagination-controls>
    </div>
  </div>
</div>