<form action="" [formGroup]="form" (ngSubmit)="submitForm()">
<h2>Add Role Permission to - (  {{singleRole?.name}} )</h2>
  <!-- <mat-form-field class="role">
    <mat-label>Select Role</mat-label>
    <mat-select [(ngModel)]="selectedValue" formControlName="role_id" name="role_id">
      <mat-option *ngFor="let item of allRoles" [value]="item.id">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->


  <ng-container *ngFor="let item of allPermissionGroup; let i = index">
    <mat-checkbox  [checked]="item.checked" [value]="item.name"  (change)="checkAllPermissions($event, item)">
      <h1>{{ item.name }}</h1>
    </mat-checkbox>
    <div>
      <mat-checkbox *ngFor="let val of item.permission_group_items" [value]="val"
      [checked]="item.checked" (change)="getCheckedData($event, val)">
        <p>{{ val.name }}</p>
      </mat-checkbox>
    </div>
  </ng-container>
  <button type="submit"> Submit</button>
</form>